// abstracts/_variables.scss
$font-title: "Neo Contact", serif;
$font-heading: "Barlow Semi Condensed", sans-serif;
$font-body: "Helvetica World", sans-serif;
$h1-size: 8rem;
$h2-size: 3rem;
$h3-size: 2.5rem;
$h4-size: 2rem;
$h5-size: 1rem;
$p-size: 1rem;
$p-size-mobile: 0.95rem;
$primary: #385787;
$secondary: #f6f6f6;
$text-color: #222;
$white: #fff;
$black: #000;
$grey-light: #ccc;
$grey-dark: #333;
$error: #933023;
$error-light: rgba(255, 0, 0, 0.2);
$overlay-dark: rgba(0, 0, 0, 0.4);
$shadow-light: rgba(0, 0, 0, 0.05);
$shadow-medium: rgba(0, 0, 0, 0.15);
$toast-danger: #933023;
$guide-bg: #2b4263;
$bp-mobile: 768px;
