// abstracts/_fonts.scss or base/_fonts.scss

// styles/base/fonts.scss
@use "../abstracts/variables";

@font-face {
  font-family: "Neo Contact";
  src: url("../../fonts/NeoContact.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica World";
  src: url("../../fonts/helvetica-world-regular.woff") format("woff");
}
